WebServices/Connected Services/WebServiceTest/svcContactService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Engine.BO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Engine.BO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CRMRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="idCte" type="xs:int" />
      <xs:element minOccurs="0" name="idZoho" type="xs:long" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CRMRespuesta" nillable="true" type="tns:CRMRespuesta" />
</xs:schema>