WebServices/Connected Services/WebServiceTest/svcContactService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.mipatrimonio.com/SicopWebServices" elementFormDefault="qualified" targetNamespace="http://www.mipatrimonio.com/SicopWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://arieswebapi-pre-produccion.azurewebsites.net/svcContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SICOP.Zoho" />
  <xs:import schemaLocation="https://arieswebapi-pre-produccion.azurewebsites.net/svcContactService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Engine.BO" />
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SICOP.Zoho" minOccurs="0" name="contact" nillable="true" type="q1:ContactDataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Engine.BO" minOccurs="0" name="AddContactResult" nillable="true" type="q2:CRMRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactClienteExistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SICOP.Zoho" minOccurs="0" name="contact" nillable="true" type="q3:ContactDataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactClienteExistenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Engine.BO" minOccurs="0" name="AddContactClienteExistenteResult" nillable="true" type="q4:CRMRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idZohoContact" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SICOP.Zoho" minOccurs="0" name="contact" nillable="true" type="q5:ContactDataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Engine.BO" minOccurs="0" name="UpdateContactResult" nillable="true" type="q6:CRMRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerCreateContactToSicop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zohoContactId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerCreateContactToSicopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Engine.BO" minOccurs="0" name="TriggerCreateContactToSicopResult" nillable="true" type="q7:CRMRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerUpdateContactToSicop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zohoContactId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerUpdateContactToSicopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Engine.BO" minOccurs="0" name="TriggerUpdateContactToSicopResult" nillable="true" type="q8:CRMRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactByIdZoho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zohoContactId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactByIdZohoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Engine.BO" minOccurs="0" name="GetContactByIdZohoResult" nillable="true" type="q9:CRMRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>