WebServices/Connected Services/WebServiceTest/svcContactService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SICOP.Business.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SICOP.Business.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://arieswebapi-pre-produccion.azurewebsites.net/svcContactService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="APIApplicationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIApplicationException" nillable="true" type="tns:APIApplicationException" />
  <xs:complexType name="APISecurityException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorType" type="tns:APISecurityExceptionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APISecurityException" nillable="true" type="tns:APISecurityException" />
  <xs:simpleType name="APISecurityExceptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InsufficientPermissions">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvalidAPISession">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvalidCredentials">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UnableToAuthenticateUser">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UserNotSignedIn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ZohoConfiguration">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="APISecurityExceptionType" nillable="true" type="tns:APISecurityExceptionType" />
</xs:schema>