WebServices/Connected Services/WebServiceTest/svcContactService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.mipatrimonio.com/SicopWebServices" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IContactService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.mipatrimonio.com/SicopWebServices" location="https://arieswebapi-pre-produccion.azurewebsites.net/svcContactService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_IContactService" type="i0:IContactService">
    <wsp:PolicyReference URI="#WSHttpBinding_IContactService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddContact">
      <soap12:operation soapAction="http://www.mipatrimonio.com/SicopWebServices/IContactService/AddContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIApplicationExceptionFault">
        <soap12:fault use="literal" name="APIApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityExceptionFault">
        <soap12:fault use="literal" name="APISecurityExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddContactClienteExistente">
      <soap12:operation soapAction="http://www.mipatrimonio.com/SicopWebServices/IContactService/AddContactClienteExistente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIApplicationExceptionFault">
        <soap12:fault use="literal" name="APIApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityExceptionFault">
        <soap12:fault use="literal" name="APISecurityExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap12:operation soapAction="http://www.mipatrimonio.com/SicopWebServices/IContactService/UpdateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIApplicationExceptionFault">
        <soap12:fault use="literal" name="APIApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityExceptionFault">
        <soap12:fault use="literal" name="APISecurityExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TriggerCreateContactToSicop">
      <soap12:operation soapAction="http://www.mipatrimonio.com/SicopWebServices/IContactService/TriggerCreateContactToSicop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIApplicationExceptionFault">
        <soap12:fault use="literal" name="APIApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityExceptionFault">
        <soap12:fault use="literal" name="APISecurityExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TriggerUpdateContactToSicop">
      <soap12:operation soapAction="http://www.mipatrimonio.com/SicopWebServices/IContactService/TriggerUpdateContactToSicop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIApplicationExceptionFault">
        <soap12:fault use="literal" name="APIApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityExceptionFault">
        <soap12:fault use="literal" name="APISecurityExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContactByIdZoho">
      <soap12:operation soapAction="http://www.mipatrimonio.com/SicopWebServices/IContactService/GetContactByIdZoho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIApplicationExceptionFault">
        <soap12:fault use="literal" name="APIApplicationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityExceptionFault">
        <soap12:fault use="literal" name="APISecurityExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>